body {
    display: grid;
    grid-template-rows: 320px 280px 200px 150px 950px 150px 300px 10px 300px 10px 200px 35px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url("background.webp");
    background-attachment: fixed;
    font-size: 18px;
}

body:before {
    z-index: -1;
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("background.webp") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    grid-area: 1 / 1 / span 1 / span 2;
    justify-self: stretch;
    align-self: stretch;
    font-family: Verdana, sans-serif;
    z-index: 1;
}

header h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

header .subtitle {
    text-align: center;
    font-size: 30px;
}

.description {
    grid-area: 2 / 1 / span 1 / span 2;
    text-align: center;
    padding-top: 20px;
    justify-self: stretch;
    align-self: stretch;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    border-top: 2px #107896 solid;
    line-height: 1.5;
}

.description ul {
    list-style-type: none;
    display: inline;
}

.description li {
    display: inline;
}

.download-scroll {
    margin: 60px;
}

.backing-servers a {
    display: inline-block;
}

.backing-servers figure {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0px 30px 0px 30px;
    border: 1px solid black;
    box-shadow: 0 4px #666;
}

.backing-servers figcaption {
    grid-area: 4 / 1 / span 1 / span 1;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

.scroll {
    grid-area: 3 / 1 / span 1 / span 2;
    z-index: 1;
}

h2 {
    margin-bottom: 50px;
    font-size: 30px;
}

.download .button {
    width: 140px;
    margin: 10px;
}

.button {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 20px 25px 20px 25px;
    transition-duration: 0.1s;
    color: white;
    font-family: Verdana, sans-serif;
    background-color: #107896;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 4px #666;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 3px #366;
    color: white;
    background-color: #C02F1D;
}

.button:active {
    box-shadow: 0 1px #666;
    -webkit-transform: translateY(2px);
}

.button .disabled {
    enabl
}

.wiki {
    align-content: right;
    float: right;
}

.modlist {
    z-index: 1;
    grid-area: 5 / 1 / span 1 / span 1;
    text-align: center;
    align-self: baseline;
    padding-top: 50px;
}


.modlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.discord {
    z-index: 1;
    grid-area: 5 / 2 / span 1 / span 1;
    text-align: center;
    align-self: baseline;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

.download {
    grid-area: 7 / 1 / span 1 / span 2;
    text-align: center;
    justify-self: stretch;
    align-self: stretch;
    z-index: 1;
}

.legacy {
    grid-area: 9 / 1 / span 1 / span 2;
    text-align: center;
    justify-self: stretch;
    align-self: stretch;
    z-index: 1;
}

.legacy h4 {
    padding-bottom: 10px;
}

.servers {
    grid-area: 11 / 1 / span 1 / span 2;
    text-align: center;
    justify-self: stretch;
    align-self: stretch;
    z-index: 1;
}

footer {
    grid-area: 12 / 1 / span 1 / span 2;
    align-self: stretch;
    text-align: center;
    justify-self: stretch;
    z-index: 1;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img1 {
    grid-area: 1 / 1 / span 3 / span 2;
    justify-self: stretch;
    align-self: stretch;
    background-image: url(foreground.webp);
}

.img2 {
    grid-area: 5 / 1 / span 1 / span 2;
    justify-self: stretch;
    align-self: stretch;
    background-image: url(foreground.webp);
}

.img3 {
    grid-area: 7 / 1 / span 6 / span 2;
    justify-self: stretch;
    align-self: stretch;
    background-image: url(foreground.webp);
}

hr {
    background-color: #107896;
    height: 8px;
}
